body{

    background-image: url("/public/assets/images/fundo_discord_faixa1.svg");
    background-position-y: 70px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: rgb(64, 78, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-div{
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    width: 100%;
    padding: 25px;
    

    div{
        a{
            font: 20px discordfont2;
            color: rgb(255, 255, 255);
            padding: 20px;
            position: relative;
            text-decoration: none;
            font-weight: 600;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
    
        input {
            border-radius: 20px;
            border-style: hidden;
            position: relative;
        }
}


.elementos-div{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 260px;
    
    div{
        position: relative;
        bottom: 60px;
        left: -10px;
        h1{
            font: 60px discordfont1;
            text-align: center;
            color: rgb(255, 255, 255);
            line-height: 55px;
        }
        p{
            font: 20px discordfont2;
            width: 800px;
            text-align: center;
            line-height: 35px;
            color: rgb(255, 255, 255);
        }
        div{
            justify-content: space-around;
            input{
                font: 20px discordfont2;
                background-color: white;
                border-radius: 25px;
                border-style: hidden;
                padding-inline: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
           
    }

    

}
